.image{
    background-image: url(mimi-thian-ZKBzlifgkgw-unsplash.jpg) ;
    background-repeat: no-repeat;
    width: 39%;
    height: 50REM;
    
    margin-left: 10REM;
    margin-top: 14rem;
    
    
}
.AGI{
    background: rgba(0, 0, 255, 0.5);
    margin-left: rem;
    margin-top: -5rem;
    padding: 26.5% 6rem;
    color: white;
     

    
    
    
}
li{list-style: none;}
.forme{
    margin-left: 55rem;
    



}
.footer{
    display: flex;
    color: white;
    padding: 0.9rem;
   
    
}
footer{
    background: blue;
    width: 100%;
    margin-top: 2rem;
    

}
p{
    text-align: center;
    color: white;

}
.facebook{
    margin-right: 7rem;
    margin-top: 5rem;
}
.contacter{
    margin-left: -2rem;
    margin-right: -2rem;
}
.agi{
    margin-left: 1rem;
}